# TryVia Backend Environment Variables Template
PORT=
MONGODB_URI=
JWT_SECRET=
ADMIN_PASSWORD=
JWT_EXPIRES_IN=

# Razorpay Configuration (Test / Live API Keys)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
